body {
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: 
    "header header"
    "nav main"
    "nav footer";
  }

.no-scroll {
    overflow: hidden;
}

.display-none {
    display: none;
}

button {
    cursor: pointer;
}

.pointer {
cursor: pointer
}

header {
    padding: 1rem;
    background-color: #154360;
    color: white;
    grid-area: header;
    font-weight: bold;
}

.header_logo {
    cursor: pointer;
}

nav {
    padding: 1rem;
    grid-area: nav;
    background-color: #D4E6F1;

}

nav p {
    font-weight: bold;
}

.nav_todo-lists {
    list-style-type: none;
    padding: 0; 
    display: flex;
    flex-direction: column;
}

.nav_todo-lists li {
    margin: 8px;
    cursor: pointer;
}

.nav_add-new {
    align-self: flex-start;
    margin: 8px;
}

.main_top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 10px 0 10px;
}

main {
    padding: 1rem;
    grid-area: main;
}

.main_delete {
    color: red;
}

/* Table */
.main_table {
    padding-inline-start: 0px;
    margin: 10px;
}

.main_table_header,
.main_table_row {
    border-radius: 3px;
    padding: 25px;
    display: flex;
    justify-content: start;
    margin-bottom: 25px;
}

.main_table_header {
    background-color: #95A5A6;
    padding: 20px;
}

.main_table_row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.finished {
    text-decoration: line-through;
    color: #696969;
}

.main_table_column-0 {
    min-width: 20px;
    margin-right: 30px;
}

.main_table_column-1 {
    flex-basis: 60%;
    min-width: 90px;
    cursor: pointer;
    margin-right: 30px;
}

.main_table_column-2 {
    flex-basis: 20%;
    min-width: 90px;
    cursor: pointer;
    margin-right: 30px;
}

.main_table_column-3 {
    flex-basis: 20%;
    cursor: pointer;
}

.main_new-task {
    margin-left: 10px;
}

footer {
    padding: 1rem;
    grid-area: footer;
    text-align: center;
}

.modal,
.modal_new,
.modal_edit {
    position: fixed;
    z-index: 1;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

.modal_window,
.modal_new_window,
.modal_edit_window {
    background-color: #fefefe;
    margin: auto;
    margin-bottom: 20vh;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 3px;
    width: 50%;

}

.modal_window_close,
.modal_new_window_close,
.modal_edit_window_close {
    padding-bottom: 0px;
    color: #aaaaaa;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 18px;
    font-size: 28px;
    font-weight: bold;
}
  
.modal_window_close:hover,
.modal_window_close:focus,
.modal_new_window_close:hover,
.modal_new_window_close:focus,
.modal_edit_window_close:hover,
.modal_edit_window_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal_window_middle,
.modal_new_window_middle,
.modal_edit_window_middle {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.modal_window_header,
.modal_window_header_subtask,
.modal_new_window_header,
.modal_new_window_header_subtask,
.modal_edit_window_header,
.modal_edit_window_header_subtask {
    padding: 8px;
    border-radius: 3px;
    font-weight: bold;
    background-color: #95A5A6;
}

.modal_window p,
.modal_new_window p,
.modal_edit_window p {
    margin-top: 0;
}

.modal_window_bottom,
.modal_new_window_bottom,
.modal_edit_window_bottom {
    display: flex;
    color: red;
    justify-content: space-between;
    margin-top: 2em;
}

.modal_window_delete,
.modal_edit_window_delete {
    color: red;
}

.modal_window_top,
.modal_new_window_top,
.modal_edit_window_top {
    display: flex;
}

.modal_window_error,
.modal_new_window_error,
.modal_edit_window_error {
    padding-top: 18px;
    color: red;
}

.modal_window_middle,
.modal_new_middle,
.modal_edit_middle {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.modal_form_input,
.modal_new_form_input,
.modal_edit_form_input {
    /* margin-top: 8px; */
    margin-bottom: 14px;
}

.modal_new_window_subtask,
.modal_window_subtask,
.modal_edit_window_subtask {
    margin-top: 12px;
    display: flex;
    gap: 12px;
    height: 22px;
}

.modal_new_window_subtask_checkbox,
.modal_window_subtask_checkbox,
.modal_edit_window_subtask_checkbox {
    width: 20px;
    height: 20px;
}

.modal_new_window_subtask p,
.modal_window_subtask p,
.modal_edit_window_subtask p {
    margin-top: 2px;
}

@media (max-width: 700px) {
    body {
        grid-template-rows: 50px fit-content(10px) auto 50px;
        grid-template-areas: 
        "header header"
        "nav nav"
        "main main"
        "footer footer";
    }

    nav {
        padding: 0 1rem 0 1rem;
    }

    .nav__todo-lists {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .main__table__header {
        display: none;
    }
    
    .main__table__row {
        display: grid;
        grid-template-areas: 
        "left_1 right_1"
        "left_2 right_2"
        "left_3 right_3";
    }

    .main__table__column-0 {
        grid-area: left_1;
    } 

    .main__table__column-1 {
        grid-area: right_1;
    }

    .main__table__column-1:before {
        content: "Task: ";
    }

    .main__table__column-2 {
        grid-area: right_2;
    }

    .main__table__column-2::before {
        content: "Due date: ";
    }

    .main__table__column-3 {
        grid-area: right_3;
    }

    .main__table__column-3::before {
        content: "Priority: ";
    }

    .main__table__column-1,
    .main__table__column-2,
    .main__table__column-3 {
        padding-bottom: 14px;
        margin: 0;
    }

    .main__table__column-1::before,
    .main__table__column-2::before,
    .main__table__column-3::before {
        font-weight: bold;
        display: block;
        margin-bottom: 3px;
    }

    .modal_window,
    .modal_new_window {
        width: 80%;
    }
}