body {
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: 
    "header header"
    "nav main"
    "nav footer";
  }

.no-scroll {
    overflow: hidden;
}

.display-none {
    display: none;
}

button {
    cursor: pointer;
}

header {
    padding: 1rem;
    background-color: #154360;
    color: white;
    grid-area: header;
    font-weight: bold;
}

nav {
    padding: 1rem;
    grid-area: nav;
    background-color: #D4E6F1;
}

nav p {
    font-weight: bold;
}

.nav__todo-lists {
    list-style-type: none;
    padding: 0; 
    display: flex;
    flex-direction: column;
}

.nav__todo-lists li {
    margin: 8px;
    cursor: pointer;
}

.nav__add-new {
    
    align-self: flex-start;
    margin: 8px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 10px 0 10px;
}

.table-row > div {
    cursor: pointer
}

main {
    padding: 1rem;
    grid-area: main;
}

.main__delete {
    color: red;
}

/* Table */
.main__table {
    padding-inline-start: 0px;
    margin: 10px;
}

.main__table__header,
.main__table__row {
    border-radius: 3px;
    padding: 25px;
    display: flex;
    justify-content: start;
    margin-bottom: 25px;
}

.main__table__header {
    background-color: #95A5A6;
    padding: 20px;
}

.main__table__row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.main__table__column-0 {
    min-width: 20px;
}

.main__table__column-1 {
    flex-basis: 60%;
    min-width: 90px;
}

.main__table__column-2 {
    flex-basis: 20%;
    min-width: 90px;
}

.main__table__column-2,
.main__table__column-3 {
    flex-basis: 20%;
}

.main__table__column-0,
.main__table__column-1,
.main__table__column-2 {
    margin-right: 30px;
}

.main__new-task {
    margin-left: 10px;
}

footer {
    padding: 1rem;
    grid-area: footer;
    text-align: center;
}

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

.modal__window {
    background-color: #fefefe;
    margin: auto;
    margin-bottom: 20vh;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 3px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.modal__window__close {
    padding-bottom: 0px;
    color: #aaaaaa;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 18px;
    font-size: 28px;
    font-weight: bold;
}
  
.modal__window__close:hover,
.modal__window__close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal__window__title {
    padding: 8px;
    border-radius: 3px;
    font-weight: bold;
    background-color: #95A5A6;
}

.modal__window p {
    margin-top: 0;
}

.modal__window__buttons {
    margin-left: auto;
    margin-right: 0;
    margin-top: 1em;
}

.modal__window__delete-btn {
    color: red;
}

@media (max-width: 700px) {
    body {
        grid-template-rows: 50px fit-content(10px) auto 50px;
        grid-template-areas: 
        "header header"
        "nav nav"
        "main main"
        "footer footer";
    }

    nav {
        padding: 0 1rem 0 1rem;
    }

    .nav__todo-lists {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .main__table__header {
        display: none;
    }
    
    .main__table__row {
        display: grid;
        grid-template-areas: 
        "left_1 right_1"
        "left_2 right_2"
        "left_3 right_3";
    }

    .main__table__column-0 {
        grid-area: left_1;
    } 

    .main__table__column-1 {
        grid-area: right_1;
    }

    .main__table__column-1:before {
        content: "Task: ";
    }

    .main__table__column-2 {
        grid-area: right_2;
    }

    .main__table__column-2::before {
        content: "Due date: ";
    }

    .main__table__column-3 {
        grid-area: right_3;
    }

    .main__table__column-3::before {
        content: "Priority: ";
    }

    .main__table__column-1,
    .main__table__column-2,
    .main__table__column-3 {
        padding-bottom: 14px;
        margin: 0;
    }

    .main__table__column-1::before,
    .main__table__column-2::before,
    .main__table__column-3::before {
        font-weight: bold;
        display: block;
        margin-bottom: 3px;
    }

    .modal__window {
        width: 80%;
    }
}