body {
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    /* width: 100vw; */
    /* height: 100vh; */
    grid-template-columns: fit-content(250px) auto;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: 
    "header header"
    "nav main"
    "nav footer";
  }

  @media (max-width: 700px) {
    body {
        grid-template-rows: 50px auto auto 50px;
        grid-template-areas: 
        "header header"
        "nav nav"
        "main main"
        "footer footer";
    }
}
  
header {
    background-color: #154360;
    color: white;
    grid-area: header;
    font-weight: bold;
}

nav {
    grid-area: nav;
    background-color: #D4E6F1;
}

nav p {
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav ul li {
    margin: 8px;
}

.table-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 10px 0 10px;
}

.finished > li{
    text-decoration: line-through;
}

.finished > .table-row {
    color: gray;

}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    text-align: center;
}

header,
main,
nav,
footer {
    padding: 1rem;
}

/* Table */

.table {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    margin: 10px;
}

.table li {
    border-radius: 3px;
    padding: 25px;
    display: flex;
    justify-content: start;
    margin-bottom: 25px;
}

.table .table-header {
    background-color: #95A5A6;
    font-weight: bold;
    padding: 20px;

}   

.table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.table .col-0 {
    min-width: 20px;
}

.table .col-1 {
    flex-basis: 60%;
    min-width: 90px;
}

.table .col-2
 {
    flex-basis: 20%;
    min-width: 90px;
}

.table .col-2,
.table .col-3
 {
    flex-basis: 20%;
}

.table .col-0,
.table .col-1,
.table .col-2 {
    margin-right: 30px;
}

.table img {
    width: 20px;
}

.new-task-btn {
    margin: 0 10px 10px 10px;
}

@media all and (max-width: 700px) {
    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    } 

    nav ul p {
        width: 100%;
        margin: 0;
    }

    nav ul li {
        margin: 10px 10px 0 10px;
    }
    
    .table .table-header {
        display: none;
    }
    
    .table li {
        display: grid;
        grid-template-areas: 
        "l1 r1"
        "l2 r2"
        "l3 r3";
    }

    .table .col-0 {
        width: 20px;
        grid-area: l1;
    } 

    .table .col-1 {
        grid-area: r1;
    }

    .table .col-1::before {
        content: "Task: ";
    }

    .table .col-2 {
        grid-area: r2;
    }

    .table .col-2::before {
        content: "Due date: ";
    }

    .table .col-3 {
        grid-area: r3;
    }

    .table .col-3::before {
        content: "Priority: ";
    }

    .table .col-1,
    .table .col-2,
    .table .col-3 {
        padding-bottom: 14px;
        margin: 0;
    }

    .table .col-1::before,
    .table .col-2::before,
    .table .col-3::before {
        font-weight: bold;
        display: block;
        margin-bottom: 3px;
    }
}

/* Modal background */
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content */
  .modal-task-details {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 3px;
    width: 60%;
  }

  @media all and (max-width: 700px) { 
    .modal-task-details {
        width: 80%;
    }
  }

  
  /* Modal close button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }